<section class="item-view">
	<div class="page-header">
		<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.glassware.name}}" translate-value-namezh="{{vm.glassware.nameZH}}"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.glassware.name}}">
	</div>
	<br />
	<div class="img-responsive row lead">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Name"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.glassware.name}}" translate-value-namezh="{{vm.glassware.nameZH}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.glassware.dynasty">
				<strong translate="Dynasty"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.glassware.dynasty">
				<span ng-bind="vm.glassware.dynasty"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.glassware.type">
				<strong translate="Type"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.glassware.type">
				<span ng-bind="vm.glassware.type"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.glassware.length">
				<strong translate="Length"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.glassware.length">
				<span>{{vm.glassware.length * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.glassware.width">
				<strong translate="Width"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.glassware.width">
				<span>{{vm.glassware.width * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.glassware.height">
				<strong translate="Height"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.glassware.height">
				<span>{{vm.glassware.height * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row" ng-if="vm.glassware.description || vm.glassware.descriptionZH">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Description"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span class="newline-display" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.glassware.description}}" translate-value-namezh="{{vm.glassware.descriptionZH}}"></span>
			</div>
		</div>
	</div>

</section>