<section class="grid-view">
	<div class="page-header">
		<h2>
			Bronzepainted
			<a class="btn btn-primary pull-right" data-ui-sref="admin.bronzepainted.create">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
		</h2>

	</div>
	<div class="row filter">
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" placeholder="Search name..." ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()">
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="input-group">
				<span class="input-group-addon">Dynasty</span>
				<select class="form-control" ng-model="vm.selectedDynasty" ng-change="vm.updateForDynasty()" ng-options="x for x in vm.dynastyList"></select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-6" data-ng-repeat="bronzepainted in vm.pagedItems">
			<a data-ui-sref="admin.bronzepainted.edit({bronzepaintedId: bronzepainted._id})" class="list-group-item">
				<div class="list-image img-responsive">
					<img ng-src="{{bronzepainted.imageURL}}" class="img-thumbnail" />
				</div>
				<div class="oneline-text text-center">
					<strong>
						<span data-ng-bind="bronzepainted.name"></span>
					</strong>
				</div>
			</a>
		</div>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="bronzepainted.$resolved && !bronzepainted.length">
		No bronzepainted found, please try to other filters.
	</div>
	<uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
		ng-change="vm.pageChanged()"></uib-pagination>
</section>