<section class="item-view">
	<div class="page-header">
		<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.liangzhu.name}}" translate-value-namezh="{{vm.liangzhu.nameZH}}"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.liangzhu.name}}">
	</div>
	<br />
	<div class="img-responsive row lead">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Name"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.liangzhu.name}}" translate-value-namezh="{{vm.liangzhu.nameZH}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.liangzhu.dynasty">
				<strong translate="Dynasty"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.liangzhu.dynasty && vm.liangzhu.reignTitle">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.liangzhu.reignTitle}} {{vm.liangzhu.dynasty}}"
				 translate-value-namezh="{{vm.liangzhu.dynasty | translate}} {{vm.liangzhu.reignTitle | translate}}"></span>
			</div>
			<div class="col-xs-8" ng-if="vm.liangzhu.dynasty && !vm.liangzhu.reignTitle">
				<span translate="{{vm.liangzhu.dynasty}}"></span>&nbsp;
				<span translate="{{vm.liangzhu.reignTitle}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.liangzhu.type">
				<strong translate="Type"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.liangzhu.type">
				<span ng-bind="vm.liangzhu.type"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.liangzhu.length">
				<strong translate="Length"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.liangzhu.length">
				<span>{{vm.liangzhu.length * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.liangzhu.width">
				<strong translate="Width"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.liangzhu.width">
				<span>{{vm.liangzhu.width * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.liangzhu.height">
				<strong translate="Height"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.liangzhu.height">
				<span>{{vm.liangzhu.height * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row" ng-if="vm.liangzhu.description || vm.liangzhu.descriptionZH">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Description"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span class="newline-display" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.liangzhu.description}}" translate-value-namezh="{{vm.liangzhu.descriptionZH}}"></span>
			</div>
		</div>
	</div>

</section>