<!-- The about view -->
<section class="container about-section">
  <div class="page-header">
    <h1>About Kwong Lum</h1>
  </div>
  <div class="text-center about-img">
    <img src="modules/about/client/img/kwong.jpg" alt="Kwong Lum"/>
  </div>
  <p>Kwong Lum started collecting ancient Chinese artwork as a nine-year-old in Hong Kong under the guidance of his art teacher, Ding Yanyong, himself hailed as leading figure in the renewal of the ancient China tradition for modern expression and a fervent collector, who taught him Chinese painting, calligraphy and most of all, the appraisal and collection of Chinese antiques. Thus began his Sai Yang Tang Collection. </p>
  <p>As a renowned Chinese artist, scholar and collector, Lum has immensely enlarged the volume of his collection by adding in ancient masters’ painting and calligraphy, bronzes, sculpture and porcelain ware of different dynasties, purchased throughout the world at auctions or from private collectors. Today, his Sai Yang Tang Collection in the United States, boasting of its invaluable art treasures of ancient China, enjoys a far-reaching reputation of “A Smaller-Sized Overseas Palace Museum.” In 1999, a Kwong Lum National Art Treasure Exhibition was held by Asian Cultural Center in New York, commemorating the 50th Anniversary on the formation of Sai Yang Tang Collection. </p>
  <p>China’s CCTV “National Treasure Archives” program has made a special trip to New York to interview Lum and they documented four television episodes in the CCTV broadcast. </p>
  <p>In 2012, Guangdong Government built a museum named “Kwong Lum Art Museum” at Jiangmen City. The museum opened in 2014 and houses Lum’s Paintings and treasures of Sai Yang Tang’s Collection. </p>
  <p>Lum will be launching his On-Line Museum and hold series of Exhibitions of his Collection. The first will be on Ancient and Gilt Bronzes, with over one hundred Bronze pieces. This collection starts from the Qijia Culture at the end of the third millennium B.C., and Erlitou period up to Han Dynasty. Highlighted by rare and prestigious bronze objects with technical excellence, unsurpassed refinement, signifying political power, devout spiritual beliefs, and exalted social status.</p>
  <!-- The message form -->
  <!--<form class="col-xs-12 col-md-offset-4 col-md-4" ng-submit="vm.sendMessage();">
    <fieldset class="row">
      <div class="input-group">
        <input type="text" id="messageText" name="messageText" class="form-control" ng-model="vm.messageText" placeholder="Enter new message">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-disabled="!vm.messageText.length">Submit</button>
        </span>
      </div>
    </fieldset>
  </form>-->
  <!--<ul class="list-unstyled">
    <li class="col-xs-12 col-md-offset-4 col-md-4 chat-message" ng-repeat="message in vm.messages">
      <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
      <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image" />
      <div class="pull-left chat-message-details">
        <strong ng-bind="message.username"></strong>
        <br>
        <span ng-bind="message.text"></span>
      </div>
    </li>
  </ul>-->
</section>
