
	<div ng-controller="HomeController">
		<div style="max-height: 750px; margin-top:50px">
			<div uib-carousel active="active" interval="vm.myInterval" no-pause="true" no-wrap="vm.noWrapSlides">
				<div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
					<img ng-src="{{slide.image}}" style="margin:auto; max-height:750px">
					<div class="carousel-caption">
						<!-- <h4>Slide {{slide.id}}</h4>
						<p>{{slide.text}}</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
