<section class="container statement">
	<!--<h2 class="text-center">林緝光(世陽堂) 藝術網絡博物館成立感言</h2>-->
	<h2 class="text-center" translate="HomePrefaceTitle"></h2>
	<p translate="HomePrefaceParagraph1"></p>
	<p translate="HomePrefaceParagraph2"></p>
	<p translate="HomePrefaceParagraph3"></p>
	<br>
	<br>
	<p translate="HomePrefaceParagraph4"></p>
</section>
<section class="container">
	<div class="row">
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Paintings"></h3>
			<a href="/paintings/landing">
				<img src="modules/core/client/img/painting.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Bronzes"></h3>
			<a href="/bronzes">
				<img src="modules/core/client/img/bronze.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Zisha Teapots"></h3>
			<a href="/teapots">
				<img src="modules/core/client/img/teapot.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Famille Rose"></h3>
			<a href="/familles">
				<img src="modules/core/client/img/rose.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Famille Rose Enamel"></h3>
			<a href="/enamels">
				<img src="modules/core/client/img/enamel.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ancient Ceramics"></h3>
			<a href="/ceramics/landing">
				<img src="modules/core/client/img/ancient-ceramic.jpg">
			</a>
		</div>
		<!-- <div class="col-md-3 text-center collection-section">
			<h3 translate="Chai Yao Porcelain"></h3>
			<a href="/cporcelains">
				<img src="modules/core/client/img/chai-porcelain.jpg">
			</a>
		</div> -->
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Yuan Dynasty Porcelain"></h3>
			<a href="/yporcelains">
				<img src="modules/core/client/img/yuan-porcelain.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ming Dynasty Porcelain"></h3>
			<a href="/mporcelains">
				<img src="modules/core/client/img/ming-porcelain.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Qing Dynasty Porcelain"></h3>
			<a href="/qporcelains">
				<img src="modules/core/client/img/qing-porcelain.jpg">
			</a>
		</div>
	</div>
</section>
