<section class="container statement">
	<!--<h2 class="text-center">林緝光(世陽堂) 藝術網絡博物館成立感言</h2>-->
	<h2 class="text-center" translate="HomePrefaceTitle"></h2>
	<p translate="HomePrefaceParagraph1"></p>
	<p translate="HomePrefaceParagraph2"></p>
	<p translate="HomePrefaceParagraph3"></p>
	<br>
	<br>
	<p translate="HomePrefaceParagraph4"></p>
</section>
<section class="container">
	<div class="row">
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Paintings"></h3>
			<a href="/paintings/landing">
				<img src="modules/core/client/img/painting.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Bronzes"></h3>
			<a href="/bronzes">
				<img src="modules/core/client/img/bronze.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Zisha Teapots"></h3>
			<a href="/teapots">
				<img src="modules/core/client/img/teapot.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Famille Rose"></h3>
			<a href="/familles">
				<img src="modules/core/client/img/rose.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Famille Rose Enamel"></h3>
			<a href="/enamels">
				<img src="modules/core/client/img/enamel.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ancient Ceramics"></h3>
			<a href="/ceramics/landing">
				<img src="modules/core/client/img/ancient-ceramic.jpg">
			</a>
		</div>
		<!-- <div class="col-md-3 text-center collection-section">
			<h3 translate="Chai Yao Porcelain"></h3>
			<a href="/cporcelains">
				<img src="modules/core/client/img/chai-porcelain.jpg">
			</a>
		</div> -->
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Yuan Dynasty Porcelain"></h3>
			<a href="/yporcelains">
				<img src="modules/core/client/img/yuan-porcelain.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ming Dynasty Porcelain"></h3>
			<a href="/mporcelains/landing">
				<img src="modules/core/client/img/ming-porcelain.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Qing Dynasty Porcelain"></h3>
			<a href="/qporcelains/landing">
				<img src="modules/core/client/img/qing-porcelain.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ancient Jade"></h3>
			<a href="/jade/landing">
				<img src="modules/core/client/img/jade.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Hongshan Culture"></h3>
			<a href="/hongshan">
				<img src="modules/core/client/img/hongshan.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Liangzhu Culture"></h3>
			<a href="/liangzhu">
				<img src="modules/core/client/img/liangzhu.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Qijia Culture"></h3>
			<a href="/qijia">
				<img src="modules/core/client/img/qijia.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Longshan Culture"></h3>
			<a href="/longshan">
				<img src="modules/core/client/img/longshan.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Turtle and Oracle Bones"></h3>
			<a href="/bone">
				<img src="modules/core/client/img/bone.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Emperor Wu Ding Bone Seals"></h3>
			<a href="/boneseal">
				<img src="modules/core/client/img/boneseal.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ancient Swords"></h3>
			<a href="/sword">
				<img src="modules/core/client/img/sword.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ancient Glassware"></h3>
			<a href="/glassware">
				<img src="modules/core/client/img/glassware.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Gold and Silver Ware"></h3>
			<a href="/goldsilver">
				<img src="modules/core/client/img/goldsilver.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Lacquer Ware"></h3>
			<a href="/lacquer">
				<img src="modules/core/client/img/lacquer.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Tianhuang Stone"></h3>
			<a href="/tianhuang">
				<img src="modules/core/client/img/tianhuang.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ancient Seal Xi"></h3>
			<a href="/sealxi">
				<img src="modules/core/client/img/sealxi.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Cloisonne Enamel"></h3>
			<a href="/cloisonne">
				<img src="modules/core/client/img/cloisonne.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Bronze Painted Famille-Rose Enamel"></h3>
			<a href="/bronzepainted">
				<img src="modules/core/client/img/bronzepainted.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Crystal Collection"></h3>
			<a href="/crystal">
				<img src="modules/core/client/img/crystal.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Amber and Agate"></h3>
			<a href="/amber">
				<img src="modules/core/client/img/amber.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Snuff Bottles"></h3>
			<a href="/snuff">
				<img src="modules/core/client/img/snuff.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Four Treasures"></h3>
			<a href="/fourtreasure">
				<img src="modules/core/client/img/fourtreasure.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Ancient Currency"></h3>
			<a href="/currency">
				<img src="modules/core/client/img/currency.jpg">
			</a>
		</div>
		<div class="col-md-3 text-center collection-section">
			<h3 translate="Buddha Sculptures"></h3>
			<a href="/buddha">
				<img src="modules/core/client/img/buddha.jpg">
			</a>
		</div>

	</div>
</section>
