<section class="container statement">
  <h2 class="text-center">林緝光(世陽堂) 藝術網絡博物館成立感言</h2>
  <p>"世陽堂" 在美國紐約數十年來一直被收藏家們稱為神秘 的 "海外小故宮"，現在開始捲起神秘深閉 的簾幕，成立 "林緝光(世陽堂)藝術網絡博物館"。 www.kwonglammuseumofart.org 在"中華盛世 "即將到來的時候，希能乘先啟後，為中華民族的古文
    化與文明，傳遞輝煌的篇章。
  </p>
  <p>"世陽堂" 橫誇兩個世紀(20-21) 至今六十多年的收藏歲月中， 在海外一直追尋流落在西方的中華國寶，以高價收購 而秘藏之，若然有幸展現於國人面前，以慶祝中華文 化復興，此是我數十年之志願與 "世陽堂" 之宗旨。能 為我的祖國中華民族文化盡微薄之力，豈不樂哉！</p>
  <br>
  <br>
  <p>林緝光 書於世陽堂中 2015-4-27 晨三時</p>

</section>
<section class="container">
  <div class="row">
    <div class="col-md-3 text-center collection-section">
      <h3>Paintings</h3>
      <a href="/paintings">
        <img src="modules/core/client/img/painting.jpg">
      </a>
    </div>
    <div class="col-md-3 text-center collection-section">
      <h3>Bronzes</h3>
      <a href="/bronzes">
      <img src="modules/core/client/img/bronze.jpg">
      </a>
    </div>
    <div class="col-md-3 text-center collection-section">
      <h3>Zisha Teapot</h3>
      <a href="/teapots">
      <img src="modules/core/client/img/teapot.jpg">
      </a>
    </div>
    <div class="col-md-3 text-center collection-section">
      <h3>Famille Rose</h3>
      <a href="/familles">
      <img src="modules/core/client/img/rose.jpg">
      </a>
    </div>
    <div class="col-md-3 text-center collection-section">
      <h3>Enamel</h3>
      <a href="/enamels">
      <img src="modules/core/client/img/enamel.jpg">
      </a>
    </div>
    <div class="col-md-3 text-center collection-section">
      <h3>Statues</h3>
      <img src="modules/core/client/img/statue.jpg">
    </div>
    <div class="col-md-3 text-center collection-section">
      <h3>Others</h3>
      <img src="modules/core/client/img/enamel.jpg">
    </div>
    <div class="col-md-3 text-center collection-section">
      <h3>Coming Soon!</h3>
      <img src="modules/core/client/img/enamel.jpg">
    </div>
  </div>
</section>
<!--<section class="container">
  <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
        <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
</section>-->