<section class="item-view">
	<div class="page-header">
		<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bronzepainted.name}}" translate-value-namezh="{{vm.bronzepainted.nameZH}}"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.bronzepainted.name}}">
	</div>
	<br />
	<div class="img-responsive row lead">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Name"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bronzepainted.name}}" translate-value-namezh="{{vm.bronzepainted.nameZH}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bronzepainted.dynasty">
				<strong translate="Dynasty"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bronzepainted.dynasty && vm.bronzepainted.reignTitle">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bronzepainted.reignTitle}} {{vm.bronzepainted.dynasty}}"
				 translate-value-namezh="{{vm.bronzepainted.dynasty | translate}} {{vm.bronzepainted.reignTitle | translate}}"></span>
			</div>
			<div class="col-xs-8" ng-if="vm.bronzepainted.dynasty && !vm.bronzepainted.reignTitle">
				<span translate="{{vm.bronzepainted.dynasty}}"></span>&nbsp;
				<span translate="{{vm.bronzepainted.reignTitle}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bronzepainted.type">
				<strong translate="Type"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bronzepainted.type">
				<span ng-bind="vm.bronzepainted.type"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bronzepainted.length">
				<strong translate="Length"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bronzepainted.length">
				<span>{{vm.bronzepainted.length * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bronzepainted.width">
				<strong translate="Width"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bronzepainted.width">
				<span>{{vm.bronzepainted.width * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bronzepainted.height">
				<strong translate="Height"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bronzepainted.height">
				<span>{{vm.bronzepainted.height * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row" ng-if="vm.bronzepainted.description || vm.bronzepainted.descriptionZH">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Description"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span class="newline-display" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bronzepainted.description}}" translate-value-namezh="{{vm.bronzepainted.descriptionZH}}"></span>
			</div>
		</div>
	</div>

</section>