<section class="item-view">
	<div class="page-header">
		<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bone.name}}" translate-value-namezh="{{vm.bone.nameZH}}"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.bone.name}}">
	</div>
	<br />
	<div class="img-responsive row lead">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Name"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bone.name}}" translate-value-namezh="{{vm.bone.nameZH}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bone.dynasty">
				<strong translate="Dynasty"></strong><strong>:</strong>
			</div>
			
			<div class="col-xs-8" ng-if="vm.bone.dynasty && vm.bone.reignTitle">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bone.reignTitle}} {{vm.bone.dynasty}}"
				 translate-value-namezh="{{vm.bone.dynasty | translate}} {{vm.bone.reignTitle | translate}}"></span>
			</div>
			<div class="col-xs-8" ng-if="vm.bone.dynasty && !vm.bone.reignTitle">
				<span translate="{{vm.bone.dynasty}}"></span>&nbsp;
				<span translate="{{vm.bone.reignTitle}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bone.type">
				<strong translate="Type"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bone.type">
				<span ng-bind="vm.bone.type"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bone.length">
				<strong translate="Length"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bone.length">
				<span>{{vm.bone.length * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bone.width">
				<strong translate="Width"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bone.width">
				<span>{{vm.bone.width * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.bone.height">
				<strong translate="Height"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.bone.height">
				<span>{{vm.bone.height * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row" ng-if="vm.bone.description || vm.bone.descriptionZH">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Description"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span class="newline-display" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.bone.description}}" translate-value-namezh="{{vm.bone.descriptionZH}}"></span>
			</div>
		</div>
	</div>

</section>