<section class="grid-view">
	<div class="page-header">
		<h2>
			<h2 translate="Bronzes"></h2>
		</h2>
	</div>
	<div class="row filter">
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" placeholder="Search name..." ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()">
		</div>
    <div class="col-sm-4 col-xs-12">
			<div class="input-group">
				<span class="input-group-addon" translate="Dynasty"></span>
				<select class="form-control" ng-model="vm.selectedDynasty" ng-change="vm.updateForDynasty()" ng-options="x | translate for x in vm.dynastyList"></select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-6" data-ng-repeat="bronze in vm.pagedItems">
			<a data-ui-sref="bronzes.view({bronzeId: bronze._id})" class="list-group-item">
        <div class="list-image img-responsive">
          <img ng-src="{{bronze.imageURL}}" class="img-thumbnail"/>
        </div>

				<strong>
					<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{bronze.name}}" translate-value-namezh="{{bronze.nameZH}}"></span>
				</strong>
			</a>
		</div>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="bronzes.$resolved && !bronzes.length">
		No bronze found, please try to other filters.
	</div>
		<uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
		ng-change="vm.pageChanged()"></uib-pagination>
</section>