<section>
  <div class="page-header">
    <h1>{{'Articles' | translate}}</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
      <small class="list-group-item-text">
        {{'Posted on' | translate}}
        <span ng-bind="article.created | date:'mediumDate'"></span>
        <!--by list-->
        <!--<span ng-if="article.user" ng-bind="article.user.displayName"></span>-->
        <!--<span ng-if="!article.user">Deleted User</span>-->
      </small>
      <h4 class="list-group-item-heading" translate="VARIABLE_REPLACEMENT" translate-value-name="{{article.title}}" translate-value-namezh="{{article.titleZH}}"></h4>
      <p class="list-group-item-text oneline-text" translate="VARIABLE_REPLACEMENT" translate-value-name="{{article.content}}"
        translate-value-namezh="{{article.contentZH}}"></p>
    </a>
    <a ui-sref="articles.static()" class="list-group-item">
      <small class="list-group-item-text">
        {{'Posted on' | translate}}
        <span>Jun 8, 2018</span>
      </small>
      <h4 class="list-group-item-heading">{{'Emperor Wu Ding Bone Seals Discovery' | translate}}</h4>
    </a>
  </div>
</section>