<section class='grid-view'>
  <div class="page-header">
		<h1>
			<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.author.name}}" translate-value-namezh="{{vm.author.nameZH}}"></h1>
		</h1>
    <div>
			<!--<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.author.dynasty}}" translate-value-namezh="{{vm.author.nameZH}}" />-->

			{{(vm.author.dynasty | translate) || ("Unknown" | translate) }} ( {{vm.author.birthYear || "?"}} - {{vm.author.deadYear || "?"}} )
			</div>
  </div>
  <div class="col-md-12">
    <p class="lead" ng-bind="vm.author.description"></p>
  </div>

	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-6" data-ng-repeat="painting in vm.pagedItems">
			<a data-ui-sref="paintings.view({paintingId: painting._id})" class="list-group-item">
				<div class="list-image img-responsive">
					<img ng-src="{{painting.imageURL}}" class="img-thumbnail" />
				</div>
				<div class="oneline-text text-center">
					<strong>
					<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{painting.name}}" translate-value-namezh="{{painting.nameZH}}">></span>
				</strong>
				</div>
				<div class="oneline-text text-center">
					<small class="list-group-item-text">
          	<span ng-if="vm.author" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.author.name}}" translate-value-namezh="{{vm.author.nameZH}}"></span>
        </small>
				</div>
			</a>
		</div>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="paintings.$resolved && !paintings.length">
		No painting found, please try to other filters.
	</div>
	<uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true"
		max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

</section>