<section class="item-view">
	<div class="page-header">
		<h1 ng-bind="vm.teapot.name"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.teapot.name}}">
	</div>
	<div class="img-responsive row lead">
		<div class="col-xs-4">
			<strong>Name:</strong>
		</div>
    <div class="col-xs-8">
			<span ng-bind="vm.teapot.name"></span>
		</div>
		<div class="col-xs-4">
			<strong>Author:</strong>
		</div>
    <div class="col-xs-8">
			<span ng-bind="vm.teapot.author"></span>
		</div>
		<div class="col-xs-4">
			<strong>Dynasty:</strong>
		</div>
    <div class="col-xs-8">
			<span ng-bind="vm.teapot.dynasty"></span>
		</div>
		<div class="col-xs-4">
			<strong>Mark:</strong>
		</div>
    <div class="col-xs-8">
			<span ng-bind="vm.teapot.mark"></span>
		</div>
		<div class="col-xs-4">
			<strong>Height:</strong>
		</div>
    <div class="col-xs-8">
			<span ng-bind="vm.teapot.height"></span>&nbsp;in.
		</div>
		<div class="col-xs-4">
			<strong>Description:</strong>
		</div>
    <div class="col-xs-8">
			<span ng-bind="vm.teapot.description"></span>
		</div>
	</div>

</section>