<section>
  <div class="page-header">
    <h1>{{vm.painting._id ? 'Edit Painting' : 'New Painting'}}</h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.paintingForm" class="form-horizontal" ng-submit="vm.save(vm.form.paintingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.painting.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.paintingForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Painting name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="author">Author</label>
          <select name="author" id="author" class="form-control" ng-model="vm.painting.author" ng-options="author.name for author in vm.authors"></select>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea name="description" data-ng-model="vm.painting.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.painting._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>