<section>
  <div class="page-header">
    <h1>{{vm.painting._id ? 'Edit Painting' : 'New Painting'}}</h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.paintingForm" class="form-horizontal" ng-submit="vm.save(vm.form.paintingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.painting.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.paintingForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Painting title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="author">Author</label>
          <select name="author" id="author" class="form-control" ng-model="vm.apinting.author" ng-options="author for dynasty in vm.authors"></select>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.painting.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.painting._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>