<section class="item-view">
	<div class="page-header">
		<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.sealxi.name}}" translate-value-namezh="{{vm.sealxi.nameZH}}"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.sealxi.name}}">
	</div>
	<br />
	<div class="img-responsive row lead">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Name"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.sealxi.name}}" translate-value-namezh="{{vm.sealxi.nameZH}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.sealxi.dynasty">
				<strong translate="Dynasty"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.sealxi.dynasty && vm.sealxi.reignTitle">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.sealxi.reignTitle}} {{vm.sealxi.dynasty}}"
				 translate-value-namezh="{{vm.sealxi.dynasty | translate}} {{vm.sealxi.reignTitle | translate}}"></span>
			</div>
			<div class="col-xs-8" ng-if="vm.sealxi.dynasty && !vm.sealxi.reignTitle">
				<span translate="{{vm.sealxi.dynasty}}"></span>&nbsp;
				<span translate="{{vm.sealxi.reignTitle}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.sealxi.type">
				<strong translate="Type"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.sealxi.type">
				<span ng-bind="vm.sealxi.type"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.sealxi.length">
				<strong translate="Length"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.sealxi.length">
				<span>{{vm.sealxi.length * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.sealxi.width">
				<strong translate="Width"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.sealxi.width">
				<span>{{vm.sealxi.width * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2" ng-if="vm.sealxi.height">
				<strong translate="Height"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8" ng-if="vm.sealxi.height">
				<span>{{vm.sealxi.height * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row" ng-if="vm.sealxi.description || vm.sealxi.descriptionZH">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Description"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span class="newline-display" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.sealxi.description}}" translate-value-namezh="{{vm.sealxi.descriptionZH}}"></span>
			</div>
		</div>
	</div>

</section>