<section>
	<div class="page-header">
		<h2 translate="Paintings"></h2>
	</div>

	<div class="panel-group" ng-repeat='dynasty in vm.dynasties'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a ng-click="vm.toggleAuthor(dynasty.name)">{{dynasty.name | translate}}</a>
        </h4>
      </div>
        <ul class="list-group" ng-show='dynasty.show'>
          <li ng-repeat='author in dynasty.authors' class="list-group-item">
			      <a data-ui-sref="authors.view({authorId: author._id})">
              <span translate="VARIABLE_REPLACEMENT" translate-value-name="{{author.name}}" translate-value-namezh="{{author.nameZH}}"></span>
			      </a>
		  </li>
        </ul>
  </div>






  </div>
</section>