<section>
	<div class="page-header">
		<h2 translate="Paintings"></h2>
	</div>


	<div class="panel-group" ng-repeat='dynasty in vm.dynasties'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a ng-click="vm.toggleAuthor(dynasty.name)">{{dynasty.name}}</a>
        </h4>
      </div>
        <ul class="list-group" ng-show='dynasty.show'>
          <li ng-repeat='author in dynasty.authors' class="list-group-item">
			  <a>
			  {{author.name}}
			  </a>
		  </li>
        </ul>
  </div>






  </div>
</section>