<section class="grid-view">
	<div class="page-header">
		<h2>
			Paintings
		</h2>
	</div>
	<div class="row filter">
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" placeholder="Search name..." ng-model="vm.search" ng-change="vm.figureOutItemsToDisplay()">
		</div>
    <div class="col-sm-4 col-xs-12">
			<div class="input-group">
				<span class="input-group-addon">Dynasty</span>
				<select class="form-control" ng-model="vm.selectedDynasty" ng-change="vm.updateForDynasty()" ng-options="x for x in vm.dynastyList"></select>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="input-group">
				<span class="input-group-addon">Author</span>
				<select id="author" class="form-control" ng-model="vm.selectedAuthor" ng-change="vm.updateForAuthor()" ng-options="x for x in vm.authorList"></select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-6" data-ng-repeat="painting in vm.pagedItems">
			<a data-ui-sref="paintings.view({paintingId: painting._id})" class="list-group-item">
        <div class="list-image img-responsive">
          <img ng-src="{{painting.imageURL}}" class="img-thumbnail"/>
        </div>

				<strong>
					<!--<span data-ng-bind="painting.name" ></span>-->
					<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{painting.name}}" translate-value-namezh="{{painting.nameZH}}">></span>

				</strong>
				<small class="list-group-item-text">
          <span ng-if="painting.author" translate="VARIABLE_REPLACEMENT" translate-value-name="{{painting.author.name}}" translate-value-namezh="{{painting.author.nameZH}}"></span>
        </small>
			</a>
		</div>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="paintings.$resolved && !paintings.length">
		No painting found, please try to other filters.
	</div>
		<uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage"
		ng-change="vm.pageChanged()"></uib-pagination>
</section>