<section class="item-view">
	<div class="page-header">
		<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.name}}" translate-value-namezh="{{vm.painting.nameZH}}"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.painting.name}}">
	</div>
	<div class="img-responsive row lead">
		<div class="col-xs-4">
			<strong translate="Name"></strong><strong>:</strong>
		</div>
    <div class="col-xs-8">
			<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.name}}" translate-value-namezh="{{vm.painting.nameZH}}"></span>
		</div>
		<div class="col-xs-4">
			<strong translate="Author"></strong><strong>:</strong>
		</div>
    <div class="col-xs-8">
			<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.author.name}}" translate-value-namezh="{{vm.painting.author.nameZH}}"></span>
		</div>
		<div class="col-xs-4">
			<strong translate="Type"></strong><strong>:</strong>
		</div>
    <div class="col-xs-8">
			<span ng-bind="vm.painting.scrollType"></span>,&nbsp;
			<span ng-bind="vm.painting.colorType"></span> &nbsp;on&nbsp;
			<span ng-bind="vm.painting.materialType"></span>

		</div>
		<div class="col-xs-4" ng-if="vm.painting.length">
			<strong translate="Length"></strong><strong>:</strong>
		</div>
    <div class="col-xs-8" ng-if="vm.painting.length">
			<span ng-bind="vm.painting.length"></span>&nbsp;in.
		</div>
		<div class="col-xs-4" ng-if="vm.painting.width">
			<strong translate="Width"></strong><strong>:</strong>
		</div>
    <div class="col-xs-8" ng-if="vm.painting.width">
			<span ng-bind="vm.painting.width"></span>&nbsp;in.
		</div>
		<div class="col-xs-4">
			<strong translate="Description"></strong><strong>:</strong>
		</div>
    <div class="col-xs-8">
			<span class="newline-display" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.description}}" translate-value-namezh="{{vm.painting.descriptionZH}}"></span>
		</div>
	</div>

</section>