<section class="item-view">
	<div class="page-header">
		<h1 translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.name}}" translate-value-namezh="{{vm.painting.nameZH}}"></h1>
	</div>
	<div class="text-center">
		<img class="img-responsive" src="{{vm.imageURL}}" alt="{{vm.painting.name}}">
	</div>
	<br />
	<div class="img-responsive lead">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Name"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.name}}" translate-value-namezh="{{vm.painting.nameZH}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Author"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.author.name}}" translate-value-namezh="{{vm.painting.author.nameZH}}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Type"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.scrollType}}, {{vm.painting.colorType}} on {{vm.painting.materialType}}"
				 translate-value-namezh="{{vm.painting.colorType | translate}}{{vm.painting.materialType | translate}}{{vm.painting.scrollType | translate}}"></span>
			</div>
		</div>
		<div class="row" ng-if="vm.painting.length">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Length"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span>{{vm.painting.length * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row" ng-if="vm.painting.width">
			<div class="col-xs-2 col-xs-offset-2" >
				<strong translate="Width"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span>{{vm.painting.width * 2.54 | number:1}}&nbsp;cm</span>
			</div>
		</div>
		<div class="row" ng-if="vm.painting.description || vm.painting.descriptionZH">
			<div class="col-xs-2 col-xs-offset-2">
				<strong translate="Description"></strong><strong>:</strong>
			</div>
			<div class="col-xs-8">
				<span class="newline-display" translate="VARIABLE_REPLACEMENT" translate-value-name="{{vm.painting.description}}" translate-value-namezh="{{vm.painting.descriptionZH}}"></span>
			</div>
		</div>
	</div>

</section>