.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.home-jumbotron{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/modules/core/client/img/home-background.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  font-style: oblique;
  /*line-height: 500px;*/
}

.home-jumbotron div{
  color: white;
  font-size: 40px;
  font-family: Georgia, serif;
  /*width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-62%, -50%);*/
  display:inline;
  text-align:center; /* center horizontally */
  vertical-align:middle; /* center vertically */
}

.home-jumbotron .row:before{
  margin-top: 100px;
}

